{% load static %}
<!-- Start latest-post Area -->
<section class="latest-post-area pb-120">
    <div class="latest-post-wrap">
        <h4 class="cat-title">Latest News</h4>

        {% for article in latest %}

        <div class="single-latest-post row align-items-center">
            <div class="col-lg-5 post-left">
                <div class="feature-img relative">
                    <div class="overlay overlay-bg"></div>
                    <img class="img-fluid" src="{{ article.image.url }}" alt="">
                </div>
                <ul class="tags">
                    <li><a href="#">{{article.categoria}}</a></li>
                </ul>
            </div>

            <div class="col-lg-5 post-left">
                <a href="image-post.html">
                    <h4>{{ article.title }}</h4>
                </a>
                <ul class="meta">
                    <li><a href="#"><span class="lnr lnr-user"></span> {{article.author}}</a></li>
                    <li><a href="#"><span class="lnr lnr-calendar-full"></span> {{ article.created_at }}</a></li>
                    <li><a href="#"><span class="lnr lnr-bubble"></span>06 Comments</a></li>
                </ul>
                <p class="excert">
                    {{article.content}}
                </p>
            </div>

        </div>
        {% endfor %}
    </div>

    <!-- End latest-post Area -->
</section>