{% load static %}
<!-- Start relavent-story-post Area -->

<div class="relavent-story-post-wrap mt-30">
    <h4 class="title">Relavent Stories</h4>
    <div class="relavent-story-list-wrap">
        <div class="single-relavent-post row align-items-center">
            {% for article in news %}
            <div class="single-relavent-post row align-items-center">
                <div class="col-lg-5 post-left">
                    <div class="feature-img relative">
                        <div class="overlay overlay-bg"></div>
                        <img class="img-fluid" src="{{ article.image.url }}" alt="">
                    </div>
                    <ul class="tags">
                        <li><a href="#">{{article.categoria}}</a></li>
                    </ul>
                </div>
                <div class="col-lg-7 post-right">
                    <a href="image-post.html">
                        <h4>{{ article.title }}</h4>
                    </a>
                    <ul class="meta">
                        <li><a href="#"><span class="lnr lnr-user"></span>{{ article.author }}</a></li>
                        <li><a href="#"><span class="lnr lnr-calendar-full"></span>{{ article.created_at }}</a></li>
                        <li><a href="#"><span class="lnr lnr-bubble"></span>06 Comments</a></li>
                    </ul>
                    <p class="excert">
                        {{article.content}}
                    </p>
                </div>
            </div>
            {% endfor %}

        </div>

    </div>

</div>


<!-- End relavent-story-post Area -->